<% directories.map(dir => {%>
  <li>
    d
    <a href="/folder/<%= dir.id %>"><%= dir.name %></a>
    <a href="/folder/update/<%= dir.id %>">Edit</a>
    <a href="/folder/delete/<%= dir.id %>">Delete</a>
  </li>
<% }) %>
