<div>
  Are you sure you want to delete?: 
  <p>
    <%= directory.name %>
  </p>
  <form method="POST"">
    <input type="hidden" name="dir_id" value="directory.id">
    <button type="submit">YES</button>
  </form>
</div>
