<div><%= JSON.stringify(locals) %></div>
<div>
  <form enctype="multipart/form-data" method="post">
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>
  <form method="post" action="/folder/create">
    <input type="hidden" name="parent" value="<%= id %>">
    <input type="text" name="name" placeholder="Folder Name" >
    <button type="submit">Add Folder</button>
  </form>
</div>
<ul>
  <%- include('partial/folder_line') -%>
</ul>
