<div><%= JSON.stringify(locals.currentUser) %></div>
<div>
  <form enctype="multipart/form-data" method="post">
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>
</div>
