<div><%= JSON.stringify(locals.currentUser) %></div>
<div>
  <form enctype="multipart/form-data" method="post">
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>
  <form method="post" action="/folder/create">
    <input type="text" name="name" placeholder="Folder Name" >
    <button type="submit">Add Folder</button>
  </form>
</div>
<ul>
  <% directories.map(dir => {%>
    <li>
      <%= dir.name %>
      <a href="/folder/update/<%= dir.id %>">Edit</a>
      <a href="/folder/delete/<%= dir.id %>">Delete</a>
    </li>
  <% }) %>
</ul>
